.static{
    border:solid 1px black;
    border-radius: 20px;
    
    position:static;
   }
.relative{
    margin:6px;
    padding:10px;
    position:relative;

}
.fixed{
    
    position:fixed;
    background-color:tomato;
    padding:10px 30px;

}
.sticky{
    border:solid 1px black;
    position:sticky;
    border-radius: 20px;
    background-color: aquamarine;
   

}
.absolute{
    position:sticky;

}